.section {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font2);
}

.container {
  margin: calc(100px * var(--factor)) 0;
  display: flex;
  gap: calc(100px * var(--factor));
}

.content {
  display: flex;
  flex-direction: column;
  gap: calc(150px * var(--factor));
}

.promocao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promocao h1 {
  font-size: calc(42px * var(--factor));
  text-align: center;
}

.promocao span {
  color: var(--color2);
}

.promocao p {
  font-size: calc(27px * var(--factor));
  text-align: center;
}

.perguntas {
  display: flex;
  flex-direction: column;
  height: calc(550px * var(--factor));
  overflow-y: scroll;
}

.perguntas h1 {
  font-size: calc(42px * var(--factor));
}

.perguntas ul {
  display: flex;
  flex-direction: column;
  gap: calc(20px * var(--factor));
}

.perguntas li {
  background-color: #f4f4f4;
  width: calc(600px * var(--factor));
  padding: calc(15px * var(--factor)) calc(10px * var(--factor));
  border-radius: calc(8px * var(--factor));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questao {
  width: calc(600px * var(--factor));
  padding: calc(15px * var(--factor)) calc(10px * var(--factor));
  border-radius: calc(8px * var(--factor));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perguntas li svg {
  width: calc(45px * var(--factor));
  height: calc(45px * var(--factor));
  min-width: calc(45px * var(--factor));
  min-height: calc(45px * var(--factor));
  transition: 0.2s;
}

.perguntas li svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.perguntas p {
  font-size: calc(27px * var(--factor));
}

.resposta {
  display: none;
  padding: calc(15px * var(--factor)) calc(10px * var(--factor));
  border-radius: calc(8px * var(--factor));
  justify-content: center;
  align-items: center;
  width: 100%;
}

.resposta p {
  font-size: calc(20px * var(--factor));
  width: 95%;
  text-align: justify;
}

.visivel {
  display: flex;
}

.ebook {
  width: calc(1100px * var(--factor));
  height: calc(810px * var(--factor));
  background: linear-gradient(to right, #285e40, #000000);
  border-radius: calc(16px * var(--factor));
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cards {
  width: 80%;
}

.card {
  width: 100%;
  height: calc(780px * var(--factor));
  border: 0px solid;
  border-top: calc(20px * var(--factor)) solid var(--color6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-radius: calc(12px * var(--factor));
}

.dataCard {
  height: 100%;
  display: flex;
  margin-top: calc(30px * var(--factor));
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: calc(20px * var(--factor));
}

.iconBook {
  width: calc(200px * var(--factor));
  height: calc(200px * var(--factor));
}

.dataCard h1 {
  font-size: calc(43px * var(--factor));
  text-align: center;
  line-height: 1;
}

.dataCard ul {
  display: flex;
  flex-direction: column;
  gap: calc(25px * var(--factor));
}

.dataCard li {
  font-size: calc(27px * var(--factor));
  display: flex;
  align-items: center;
  gap: calc(8px * var(--factor));
}

.dataCard li svg {
  width: calc(27px * var(--factor));
}

.preco {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.preco p {
  font-size: calc(25px * var(--factor));
}

.preco del {
  color: #6bc610;
  font-weight: 600;
}

.preco span {
  font-size: calc(44px * var(--factor));
  font-weight: 600;
}

.card button {
  color: var(--color4);
  font-size: calc(27px * var(--factor));
  font-weight: 600;
  background-color: #6eb122;
  padding: calc(20px * var(--factor)) 0;
  transition: 0.2s;
  width: 100%;
}

.card button:hover {
  color: #6eb122;
  background-color: var(--color2);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
  }

  .cards {
    width: 50%;
  }

  .ebook {
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .ebook {
    width: 90vw;
  }

  .cards {
    width: 60%;
  }
}

@media (max-width: 510px) {
  .cards {
    width: 90%;
  }
}
