.section {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: calc(150px * var(--factor));
  margin-bottom: calc(400px * var(--factor));
  width: calc(1550px * var(--factor));
}

.content h1 {
  color: var(--color1);
  font-size: calc(75px * var(--factor));
  width: calc(1100px * var(--factor));
  line-height: 1;
}

.content span {
  color: var(--color5);
}

.content p {
  margin-top: calc(30px * var(--factor));
  font-size: calc(33px * var(--factor));
  color: var(--color1);
  width: calc(950px * var(--factor));
  line-height: 1;
}

.content button {
  margin-top: calc(30px * var(--factor));
  background-color: var(--color2);
  color: var(--color5);
  font-size: calc(32px * var(--factor));
  padding: calc(10px * var(--factor)) calc(20px * var(--factor));
  border-radius: calc(5px * var(--factor));
}
