.section {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font2);
}

.container {
  margin: calc(100px * var(--factor)) 0;
  display: flex;
  gap: calc(50px * var(--factor));
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: calc(60px * var(--factor));
  align-items: flex-start;
}

.content h1 {
  font-size: calc(55px * var(--factor));
  color: var(--color4);
}

.content span {
  color: var(--color2);
  font-weight: 400;
}

.content p {
  font-size: calc(30px * var(--factor));
  font-weight: 300;
  width: calc(850px * var(--factor));
}

.content button {
  background-color: var(--color2);
  color: var(--color5);
  font-size: calc(36px * var(--factor));
  font-weight: 600;
  padding: calc(15px * var(--factor)) calc(100px * var(--factor));
  border-radius: calc(16px * var(--factor));
  transition: 0.2s;
}

.content button:hover {
  transform: scale(1.1);
  background-color: var(--color3);
  color: var(--color1);
  cursor: pointer;
}

.image {
  height: calc(900px * var(--factor));
  width: calc(950px * var(--factor));
}

@media (max-width: 1050px) {
  .container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .container {
    width: 90vw;
  }

  .image {
    height: 90vw;
    width: 90vw;
  }

  .content p {
    width: 90%;
  }
}
